body {
    font-family: sans-serif;
    font-weight: 100;
    margin: 4em;
}

h1 {
    font-weight: 100;
    text-align: right;
    color: #666;
}

h2 {
    font-weight: 100;
    color: #333;
}

p {
    line-height: 1.3em;
}

q {
    font-style: italic;
}

#splash {
    margin-bottom: 4em;
}

#splash img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px dotted #ccc;
}

#container {
    margin-left: 2em;
    margin-right: 2em;
}

#examples {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    margin-bottom: 4em;
    max-width:1200px;
}

#examples img {
    max-width: 300px;
    margin-bottom: 10px;
}

#examples ul {
    clear: all !important;
}

#examples ul li {
    display: inline;
    float:left;
    list-style-type: none;
    margin: 1em;
    font-size: small;
    text-align:right;
}

#footer {
    text-align: right;
    margin-top: 6em;
    font-size: small;
    border-top:1px solid #ccc;
}