body {
    font-family: sans-serif;
    font-weight: 100;
    margin: 4em;
}

#container {
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    font-weight: 100;
    text-align: right;
    color: #666;
}

#examples {
    margin-right: auto;
    margin-left: auto;
    max-width:1200px;
}

#examples img {
    max-width: 300px;
    margin-bottom: 10px;
}

#examples ul li {
    display: inline;
    float:left;
    list-style-type: none;
    margin: 1em;
    font-size: small;
    text-align:right;
}

#footer {
    text-align: right;
    margin-top: 4em;
}